@import "~ngx-easy-table/style.scss";
.ngx-pagination-wrapper {
  line-height: 1.5;
  color: #3b4351;
  font-size: 0.8rem;
  text-rendering: optimizeLegibility;
  box-sizing: inherit;
  margin-top: 8px;
}
